<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAXHsKB83FNfrkhCCR6uMFsQ-M2Gh4zzgs</string>
	<key>GCM_SENDER_ID</key>
	<string>310545133265</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.finsimusfca.financialLiteracyGame</string>
	<key>PROJECT_ID</key>
	<string>finlitsim</string>
	<key>STORAGE_BUCKET</key>
	<string>finlitsim.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:310545133265:ios:ca7d24cd8c26c5f2761ff0</string>
	<key>DATABASE_URL</key>
	<string>https://finlitsim-default-rtdb.firebaseio.com</string>
</dict>
</plist>